<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ipproxy.overseas.customer.mapper.AccountMapper">
    <resultMap id="AccountResultMap" type="com.ipproxy.overseas.customer.entity.Account">
        <id column="uid" property="uid"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="telegram" property="telegram"/>
        <result column="api_token" property="apiToken"/>
        <result column="remark" property="remark"/>
        <result column="balance" property="balance"/>
        <result column="invite_code" property="inviteCode"/>
        <result column="invited_by" property="invitedBy"/>
        <result column="parent_uid" property="parentUid"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <select id="selectByEmail" resultMap="AccountResultMap">
        SELECT uid,
               email,
               password,
               nickname,
               telegram,
               remark,
               balance,
               invite_code,
               invited_by,
               parent_uid,
               created_at
        FROM account
        WHERE email = #{email}
        LIMIT 1
    </select>

    <select id="countByEmail" resultType="int">
        SELECT COUNT(1)
        FROM account
        WHERE email = #{email}
    </select>

    <insert id="insertAccount" parameterType="com.ipproxy.overseas.customer.entity.Account" useGeneratedKeys="true"
            keyProperty="uid" keyColumn="uid">
        INSERT INTO account (email, password, telegram, api_token, balance, invited_by, parent_uid, created_at,invite_code)
        VALUES (#{email}, #{password}, #{telegram}, #{apiToken}, #{balance}, #{invitedBy}, #{parentUid}, NOW(),#{inviteCode,jdbcType=VARCHAR})
    </insert>

    <select id="selectByUid" resultMap="AccountResultMap">
        SELECT uid,
               email,
               password,
               nickname,
               telegram,
               remark,
               balance,
               invite_code,
               invited_by,
               parent_uid,
               created_at
        FROM account
        WHERE uid = #{uid}
        LIMIT 1
    </select>

    <select id="selectByInviteCode" resultMap="AccountResultMap">
        SELECT uid,
               email,
               password,
               nickname,
               telegram,
               remark,
               balance,
               invite_code,
               invited_by,
               parent_uid,
               created_at
        FROM account
        WHERE invite_code = #{inviteCode}
        LIMIT 1
    </select>

    <update id="updateAccount" parameterType="com.ipproxy.overseas.customer.entity.Account">
        UPDATE account
        <set>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="telegram != null">
                telegram = #{telegram},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="balance != null">
                balance = #{balance},
            </if>
        </set>
        WHERE uid = #{uid}
    </update>
</mapper>
